summary h1{
    width: 99%;
    display: flex;
    justify-content: space-between;
}
summary{
    list-style: none;
    user-select: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary h1 span{
    transform: rotateZ(45deg);
    transition: all .4s;
    cursor: pointer;
}
details[open] summary h1 span{
    transform: rotateZ(135deg);
}
.section{
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color-transparent);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.section:last-child{
    margin-bottom: 0rem;
}

.inner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.stat{
    text-align: center;
    cursor: pointer;
}
.stat h1{
    font-size: 400%;
    margin: 0;
    cursor: pointer;
}
.stat h3{
    cursor: pointer;
    margin: 0;
}
#add-user{
    background-color: var(--lightgrey);
    border: 1px solid black;
    border-radius: 5px;
    padding: .3rem .5rem;
    transition: all .2s;
}
#add-user:hover{
    background-color: var(--lightgrey2);
}
.user{
    display: flex;
    justify-content: space-around;
}
.popup{
    position: fixed;
    width: 100%;
    height: 113vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    margin: 0;
    border: none;
}
.popup form{
    width: 30%;
    background-color: var(--bg-color-transparent);
    color: black;
    border: 2px solid var(--bg-color);
    padding: 1.5rem;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.popup form input{
    width: 100%;
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    border: 2px solid var(--bg-color);
    height: 2rem;
    padding: 0rem 0.3rem;
}
.popup form input[type="text"]:active{
    border-color: var(--orange);
    outline: none;
}
label{
    margin-top: 1rem;
    display: inline-block;
}
select{
    width: 20%;
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    padding: .3rem;
}
#pic-drop{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    border: 2px solid var(--bg-color);
}
#pic-drop span{
    font-size: 200%;
    transition: all .2s;
}
#pic-drop:hover span{
    font-size: 220%;
}
.popup form input[type="file"]{
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.buttons button{
    padding: .3rem 1rem;
    border-radius: 5px;
    font-size: 120%;
    border: 2px solid var(--grey);
}
#close-popup,
#close-popup-edit{
    background: none;
}
#add_user,
#edit_user{
    background-image: linear-gradient(-45deg, var(--yellow) -20%, var(--orange) 150%);
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    border-bottom: 1px solid black;
    padding: 0rem .5rem;
    margin-bottom: .5rem;
}
.user img{
    object-fit: cover;
}
#username{
    height: auto;
    width: 10%;
    text-align: right;
    display: flex;
    justify-content: right;
}
.status{
    color: rgb(0, 110, 255);
    margin-left: .5rem;
    cursor: pointer;
}
.user:last-child,
.rezept:last-child{
    border-bottom: none;
}
#user-heading,
#rezept-heading{
    font-size: 100%;
    border-bottom: 2px solid  black;
    margin-bottom: .5rem;
}
.user img{
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 3rem;
}
.user button,
.rezept button{
    background: none;
    border: none;
    width: min-content;
}
#delete:hover{
    color: var(--red);
}
.btn-tick:hover{
    color: var(--green);
}
.rezept{
    display: flex;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid black;
}
.rezept:nth-child(2n+1){
    background-color: var(--bg-color-transparent);
}
.id{
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    width: 10%;
}
h2.id{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
.timecode{
    width: 10%;
    margin-left: auto;
}
.titel,
.error_msg{
    width: 40%;
    margin-right: 1rem;
}
#log-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#log-selection select{
    width: auto;
    padding: .5rem;
}
input[type="checkbox"]{
    accent-color: var(--orange);
}
#log-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: .5rem;
    text-align: left;
}
#log-heading h2{
    text-align: left;
}
#log-heading .timecode,
.log .timecode{
    margin-left: 0;
    width: 12% !important;
}
#log-heading .loguser,
.log .loguser{
    width: 15% !important;
}
#log-heading .event,
.log .event{
    width: 58% !important;
}
#log-heading .IP-Adresse,
.log .IP-Adresse{
    width: 15% !important;
    text-align: right;
}
.log{
    display: flex;
    align-items: center;
    padding: .5rem;
}
.log:nth-child(2n+1){
    background-color: var(--bg-color-transparent);
}
.error{
    color: var(--red);
    font-weight: bold;
}
@media (max-width:600px) {
    h3.beschreibung{
        font-size: 80%;
    }
    #user-heading{
        display: none;
    }
    #add-user{
        margin-bottom: 1rem;
    }
    .popup form{
        width: 90%;
    }
    .user img{
        width: 3rem;
        aspect-ratio: 1/1;
    }
    .section{
        padding: .3rem;
    }
    details{
        font-size: 80%;
    }
    .buttons{
        width: min-content;
        justify-content: end;
    }
    .user .buttons,
    .rezept .buttons{
        width: 30%;
    }
    .user .buttons button,
    .rezept .buttons button{
        width: 1rem;
    }
    #errors{
        display: none;
    }
    .section:last-child{
        margin-bottom: .3rem;
    }
    #username{
        width: auto;
    }
    #logs{
        display: none;
    }
}