h1{
    margin-left: 1rem;
}
#image-container{
    display: flex;
}
#big-image{
    width: 85%;
    padding: 1rem;
    aspect-ratio: 4/3;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 5px 5px var(--grey));
}
#big-image img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
#img2,
#img3{
    display: none;
}
#sidebar{
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#sidebar img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    transition: all .3s;
}
#sidebar img:hover{
    filter: drop-shadow(0px 5px 5px var(--grey));
}
#tagsandbtns,
#zutaten,
#arbeitsschritte{
    margin-left: 1rem;
    margin-top: 2rem;
}
#tagsandbtns,
#countanddate{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
button{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--lightgrey);
    transition: all .2s;
}
button:hover{
    background-color: var(--lightgrey2);
}
#savebtn:hover{
    color: var(--green);
}
.hashtag{
    font-size: 120%;
    padding: .2rem .5rem;
    background-color: var(--lightgrey);
}
#countanddate{
    margin-top: 1rem;
    margin-inline: 1rem;
}
#viewcount,
#date_created{
    display: flex;
    align-items: center;
    cursor:default;
}
#viewcount span.material-symbols-outlined,
#date_created span.material-symbols-outlined{
    margin-right: .3rem;
}
.zutat{
    margin-bottom: .5rem;
    font-size: 120%;
}
.menge,
.einheit{
    font-weight: bold;
}
.schritt{
    display: flex;
    height: max-content;
    margin-bottom: 1rem;
}
.nummer{
    font-size: 180%;
    font-weight: bold;
    margin-right: 1rem;
}
.arbeitsschritt{
    margin-top: .5rem;
    font-size: 120%;
    display: flex;
    align-items: baseline;
}
#bewerten{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
}
#bewerten input{
    display: none;
}
#bewerten label span{
    font-size: 200%;
}
#bewerten label svg{
    display: none;
    color: rgb(255, 208, 0);
    filter: drop-shadow(0px 0px 2px black);
}
#bottom_section{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#bewertungen,
#user{
    width: 50%;
}
#bewertungen{
    border-right: 2px solid var(--bg-color);
}
.zahl{
    font-size: 24px;
    text-align: right;
    display: inline-block;
    min-width: 5rem;
    margin-left: -5rem;
}
.inneruser{
    width: min-content;
    display: flex;
}
#profilbild{
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 4rem;
}
#problem{
    margin-bottom: 2rem;
}
#melden{
    cursor: pointer;
    transition: all .2s;
    padding: .2rem;
}
#melden span{
    margin-right: .2rem;
}
#melden:hover{
    color: rgb(236, 0, 0);
    border-bottom: 1px solid rgb(236, 0, 0);
}
#melden{
    width: max-content;
}
@media (max-width:600px) {
    #image-container{
        display: block;
    }
    #big-image{
        width: calc(100% - .4rem);
    }
    #big-image,
    #sidebar{
        padding: .2rem;
    }
    #sidebar{
        margin-top: .5rem;
    }
    #sidebar img{
        width: 4rem;
    }
    #sidebar img:hover{
        filter: drop-shadow(0px 3px 3px var(--grey));
    }
    h1,
    #info{
        margin-left: .2rem;
    }
    #tagsandbtns{
        margin-top: 1rem;
        margin-right: -.5rem;
        margin-left: 0rem;
    }
    #buttons{
        width: 3rem;
        display: block;
        margin-left: .5rem;
        position: sticky;
    }
    button{
        margin-bottom: .5rem;
    }
    #info{
        min-height: 5.5rem;
        margin-top: .5rem;
        width: auto;
        max-width: 80%;
    }
    #countanddate{
        display: block;
        margin-top: 0rem;
    }
    .hashtag{
        margin-top: .5rem !important;
    }
    #zutaten{
        margin-top: 1rem;
    }
    .arbeitsschritt{
        margin-top: 0;
    }
    #bottom_section{
        flex-direction: column-reverse;
        margin-bottom: 0rem;
    }
    #bewertungen,
    #user{
        width: auto;
        margin-top: 1.5rem;
    }
    #bewertungen{
        display: block;
        padding-left: 10%;
        border-right:none;
        border-top: 2px solid var(--bg-color);
        margin-bottom: 1rem;
    }
    #gesamt{
        margin-left: 2rem;
    }
    .zahl{
        width: 3rem;
        margin-left: -3rem;
    }
    #profilbild{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
}