
.banner{
    width: 70%;
    margin-inline: auto;
    border: 2px solid var(--red);
    padding: 1rem;
    margin-top: 1rem;
    font-size: 120%;
    padding-bottom: 2rem;
    background-color: rgb(255, 68, 68);
    border-radius: 10px;
}
.banner a{
    text-decoration: underline;
}
h1{
    margin-left: 1rem;
}
#image-container{
    display: flex;
}
#big-image{
    width: 85%;
    padding: 1rem;
    aspect-ratio: 4/3;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 5px 5px var(--grey));
}
#big-image img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: center;
    background-image: url('../../assets/icons/no-img.png');
    background-size: contain;
}
#img2,
#img3{
    display: none;
}
#main #sidebar{
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#main #sidebar img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    transition: all .3s;
}
#main #sidebar img:hover{
    filter: drop-shadow(0px 5px 5px var(--grey));
}
#tagsandbtns,
#zutaten,
#arbeitsschritte{
    margin-left: 1rem;
    margin-top: 2rem;
}
#tagsandbtns,
#countanddate{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
button{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--lightgrey);
    transition: all .2s;
}
button:hover{
    background-color: var(--lightgrey2);
}
#savebtn:hover{
    color: var(--green);
}
#info{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.hashtag{
    font-size: 120%;
    padding: .3rem .5rem;
    background-color: var(--lightgrey);
    height: min-content;
}
#countanddate{
    margin-top: 1rem;
    margin-inline: 1rem;
}
#viewcount,
#date_created{
    display: flex;
    align-items: center;
    cursor:default;
}
#viewcount span.material-symbols-outlined,
#date_created span.material-symbols-outlined{
    margin-right: .3rem;
}
#personen-anpassen{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#personenanzahl{
    height: 2rem;
    font-size: 120%;
    font-weight: bold;
    min-width: 3rem;
    background-color: var(--lightgrey);
}
#personen-anpassen button{
    width: 2.5rem;
    height: 2rem;
    border-radius: 0;
    border: none;
    background-color: var(--lightgrey);
    font-size: 150%;
    font-weight: bold;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
#personen-anpassen button:hover{
    background-color: var(--lightgrey2);
    cursor: pointer;
}
#personen-anpassen button:disabled{
    background-color: var(--lightgrey);
    cursor: not-allowed;
    color: grey;
}
#personen-anpassen button:first-child{
    border-radius: 10px 0 0 10px;
}
#personen-anpassen button:last-child{
    border-radius: 0 10px 10px 0;
}
.zutat{
    margin-bottom: .5rem;
    font-size: 120%;
}
.menge,
.einheit{
    font-weight: bold;
}
.schritt{
    display: flex;
    height: max-content;
    margin-bottom: 1rem;
}
.nummer{
    font-size: 180%;
    font-weight: bold;
    margin-right: 1rem;
}
.arbeitsschritt{
    margin-top: .5rem;
    font-size: 120%;
    display: flex;
    align-items: baseline;
}
#zuletzt-geändert{
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
#bewerten{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
}
fieldset{
    border:none;
}
#bewerten input{
    display: none;
}
#bewerten label span{
    font-size: 200%;
}
#bewerten label svg{
    display: none;
    color: rgb(255, 208, 0);
    filter: drop-shadow(0px 0px 2px black);
    margin-inline: .25rem;
}
#bottom_section{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#bewertungen,
#user{
    width: 50%;
}
#bewertungen{
    border-right: 2px solid var(--bg-color);
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: start !important;
}
.row{
    width: max-content;
    display: flex;
    justify-content: start;
    text-align: left;
}
.zahl{
    font-size: 24px;
    text-align: right;
    display: inline-block;
    min-width: 5rem;
    margin-left: -5rem;
}
.stars{
    width: 10rem;
}
.inneruser{
    width: min-content;
    display: flex;
}
#profilbild{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 4rem;
    background-image: url('../../assets/icons/user.png');
    background-size: cover;
}
#userinfo{
    width: max-content;
}
#userinfo a{
    margin-left: 1rem;
}
#userinfo a:hover{
    text-decoration: underline;
}
#userinfo a:hover > .material-symbols-outlined{
    text-decoration: none !important;
}
#problem{
    margin-bottom: 2rem;
}
#melden{
    cursor: pointer;
    transition: all .2s;
    padding: .2rem;
}
#melden span{
    margin-right: .2rem;
}
#melden:hover{
    color: var(--red);
    border-bottom: 1px solid var(--red);
}
#melden{
    width: max-content;
}
#problem-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}
#problem-form form{
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
#problem-form form textarea{
    width: calc(100% - 2rem);
    height: 200px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--grey);
    resize: none;
}
#problem-form form button{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--grey);
    padding: .5rem 1rem;
    width: min-content;
    border-radius: 5px;
    margin-top: 1rem;
}
@media (max-width:600px) {

    .popup{
        width: 80%;
        margin-left: 10%;
        height: 3rem;
    }
    .banner{
        width: 80%;
    }
    #image-container{
        display: block;
    }
    #big-image{
        width: calc(100% - .4rem);
    }
    #big-image,
    #main #sidebar{
        padding: .2rem;
    }
    #main #sidebar{
        margin-top: .5rem;
        flex-direction: row;
        width: 100%;
    }
    #main #sidebar img{
        width: 4rem !important;
        height: 4rem;
        aspect-ratio: 1/1;
    }
    #main #sidebar img:hover{
        filter: drop-shadow(0px 3px 3px var(--grey));
    }
    h1,
    #info{
        margin-left: .2rem;
    }
    #tagsandbtns{
        margin-top: 1rem;
        margin-right: -.5rem;
        margin-left: 0rem;
    }
    #buttons{
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-inline: .5rem;
        position: sticky;
    }
    button{
        margin-bottom: .5rem;
    }
    #info{
        min-height: 5.5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: auto;
        max-width: 80%;
    }
    .hashtag{
        padding: .3rem .5rem;
    }
    #countanddate{
        display: block;
        margin-top: 0rem;
    }
    #zutaten{
        margin-top: 1rem;
    }
    .arbeitsschritt{
        margin-top: 0;
    }
    #bottom_section{
        flex-direction: column-reverse;
        margin-bottom: 0rem;
    }
    #bewertungen,
    #user{
        width: auto;
        margin-top: 1.5rem;
    }
    #bewertungen{
        display: block;
        padding-left: 10%;
        border-right:none;
        border-top: 2px solid var(--bg-color);
        margin-bottom: 1rem;
    }
    #gesamt{
        margin-left: 5rem;
    }
    .zahl{
        width: 3rem;
        margin-left: -3rem;
    }
    .inneruser{
        width: 70%;
    }
    #userinfo{
        width: calc(100% - 6rem);
        margin-top: -1.5rem;
    }
    #userinfo a{
        margin-top: -1rem;
        margin-left:0rem;
    }
    #profilbild{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
    #problem-form form{
        width: 80%;
        padding: 1rem;
    }
}
@media print{
    #heading,
    #footer,
    #problem-form,
    #sidebar,
    #problem,
    #buttons,
    #bewerten,
    #userinfo a{
        display: none;
    }
    html{
        background-color: white;
        width: 100%;
    }
    div {
        break-inside: avoid;
    }
    #main{
        width: auto;
        margin: 0;
        padding-right: 1rem;
        background-color: white;
    }
    #big-image{
        width: 50%;
        padding: 0;
        margin-left: 1rem;
    }
    span.hashtag{
        background-color: var(--lightgrey) !important;
    }
    #bottom_section{
        font-size: 80%;
        margin-top: 2rem;
        border-top: 2px solid var(--lightgrey);
        padding-top: .5rem;
    }
}