body.no-scroll {
    overflow: hidden;
}
#heading{
    height: 5rem;
    width: 100%;
    display: flex;
    background-color: var(--grey);
    transition: all 0.3s;
    position: relative;
    z-index:20;
    filter: drop-shadow(0px 0px 5px var(--grey));
}
#inner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-inline: auto;
    transition: all 0.3s;
    
}
.row{
    display: flex;
    width: max-content;
    margin-inline: auto;
    justify-content: center;
    gap: 1rem;
}
#logo{
    display: flex;
    align-items: center;
    height: 4rem;
    width: 4rem;
}
#filter span,
#suche button{
    color: var(--bg-color);
    font-size: 250%;
    cursor: pointer;
    user-select: none;
}
#suche button{
    background-color: var(--lightergrey);
    border: none;
    height: 90%;
    width: 3rem;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s;
}
#suche{
    display: flex;
    align-items: center;
    height: 3rem;
    min-width: 3rem;
    background-color: var(--lightergrey);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
}
input[type="text"]{
    width: 0rem;
    height: 2rem;
    border-radius: 5px 0px 0px 5px;
    border: none;
    font-size: 1.2rem;
    background-color: var(--lightergrey);
    transition: all 0.3s;
}
#suche:hover input[type="text"],
#suche input[type="text"]:focus{
    width: 15rem;
    padding: 0.5rem;
    outline: none;
    color: var(--bg-color);
}
#filter-container{
    position: absolute;
    z-index: 999;
    width: 600px;
    height: 100vh;
    top: 0;
    left: calc(50% - 300px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey);
    text-align: center;
    filter: drop-shadow(0px 0px 5px black);
    transform: translateY(-105vh);
    transition: all 0.5s;
    overflow: hidden;
}
#filter-container.open{
    transform: translateY(0);
}
#close-filter{
    position: absolute;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    left: calc(50% - 1.5rem);
    background-color: var(--grey);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    font-size: 200%;
}
.filter-link{
    margin-top: .6rem;
    color: var(--bg-color) !important;
    font-size: 170%;
    width: fit-content;
    margin-inline: auto;
    transition: all 0.3s;
}
.filter-link::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--orange);
    margin-top: .5rem;
    transition: all 0.3s;
}
.filter-link:hover{
    color: var(--orange) !important;
}
.filter-link:hover::after{
    width: 100%;
    transition: all 0.3s;
}
#rezept-erstellen{
    width: 50%;
    margin-inline: auto;
    min-height: 3rem;
    background-color: var(--orange);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 120%;
}
#rezept-erstellen span:after{
    width: 0;
    height: 1px;
    background-color: black;
    display: inline-block;
    transition: all .3s;
}
#rezept-erstellen:hover span:after{
    width: 100%;
}

/* Sidebar */

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 6rem;
    width: 350px;
    height: calc(100vh - 6rem);
    background-color: var(--grey);
    z-index: 19;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 5px black);
}
#sidebar.open{
    transform: translateX(0);
}
#sidebar-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: auto;
    height: 100%;
}
a.sidebar-link{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1.5rem;
    height: 4rem;
    width: calc(350px - 1.5rem);
    border-bottom: 1px solid var(--lightergrey);
    color: var(--lightergrey);
    transition: all 0.2s;
    font-size: 110%;
}
a.sidebar-link:hover{
    background-color: var(--lightergrey);
    color: var(--bg-color);
}
a.sidebar-link:last-child{
    margin-top: auto;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid var(--lightergrey);
}
a.sidebar-link:nth-last-child(2){
    border-bottom: none;
}
a.sidebar-link span{
    color: var(--lightgrey);
}
a.sidebar-link span:first-child{
    margin-right: .5rem;
}

@media (max-width: 600px){
    #heading{
        height: 3rem;
    }
    #inner-heading{
        width: 90%;
    }
    #logo,
    #suche button{
        width: 2.5rem;
        height: 2.5rem;
    }
    .row{
        display: flex;
        flex-direction: row;
        margin-bottom: .5rem;
    }
    .row a:nth-child(2n){
        margin-top: .6rem;
    }
    input[type="text"]{
        width: 0rem;
        height: 2rem;
        font-size: 1rem;
    }
    #suche:hover input[type="text"],
    #suche input[type="text"]:hover,
    #suche input[type="text"]:focus{
        width: 10rem !important;
    }
    #filter-container{
        width: 100%;
        left: 0;
    }
    #close-filter{
        top: .5rem;
        height: 2rem;
        width: 2rem;
        left: calc(50% - 1rem);
    }
    .filter-link{
        font-size: 150%;
    }
    .filter-link:nth-child(2){
        margin-top: 2rem;
    }
    #rezept-erstellen{
        margin-top: .5rem;
        max-height: 2rem;
        font-size: 100%;
    }
    #sidebar{
        width: 100%;
        padding-top: 3rem;
        height: 94lvh;
    }
}