html{
    height: 90%;
}
#main{
    width: 35%;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 15px;
}
#login-form{
    width: 85%;
    min-height: 40lvh;
    margin-inline: auto;
    border-radius: 15px;
    padding: 1rem;
}
.part{
    height: 6rem;
    display: block;
}
label{
    font-size: 120%;
    margin-left: 4.5%;
}
.pass-alert{
    margin-left: 4.5%;
    margin-top: .5rem;
    color: red;
}
input[type='text'],
input{
    display: block;
    width: 90%;
    margin-inline: auto;
    height: 3rem;
    margin-top: .4rem;
    background-color: var(--bg-color-transparent);
    color: var(--font-color);
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    padding: .1rem 1rem; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}
input:focus{
    border-color: black;
    outline: none;
}
#login-form #login-button{
    margin-top: 4rem;
    height: 3rem;
    border: 2px solid black;
    width: 92%;
    margin-inline: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(-45deg, var(--yellow) -20%, var(--orange) 150%);
}
#login-button span{
    transition: all .2s;
}
#login-button:hover span{
    margin-left: 1rem;
}
#erstellen{
    margin-left: 2rem;
}
@media (max-width: 600px) {
    #main{
        width: 90%;
    }
    #login-form{
        width: 90%;
        padding: 1rem;
    }
    input{
        width: 90%;
        margin-right: 1rem;
    }
    #login-form #login-button{
        width: 95%;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    #erstellen{
        margin-left: 0;
        margin-top: 1rem;
    }
}