html{
    scrollbar-width: thin;
}
body{
    margin: 0;
    background-image: linear-gradient(180deg, var(--yellow) 0%, var(--orange) 100%);
    background-repeat: none;
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: var(--text-color) !important;
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 70%;
    margin-inline: auto;
    background-color: var(--bg-color-transparent);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--bg-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.container h2{
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
    user-select: none;
}
h2 span{
    font-size: 2rem !important;
}
.container{
    width: calc(100% - 2rem);
    padding: 1rem;
    background-color: var(--bg-color-transparent);
    border-radius: 10px;
    border: 2px solid var(--bg-color);
    margin-bottom: 2rem;
}
.container:nth-last-child(1){
    margin-bottom: 0rem;
}
.inner-container{
    width: 100%;
    height: 28rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 1rem;
    padding: .5rem;
    user-select: none;
    -ms-overflow-style: none; /* IE and Edge */
    cursor: ew-resize;
    scroll-behavior: smooth;
}
.arrow{
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
    background-color: var(--bg-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 12;
    top: 40%;
}
.arrow-left{
    left: 5%;
}
.arrow-right{
    right: 16%;
    display: flex;
}
.inner-container > .rezeptlink{
    min-width: 20rem;
    max-width: 20rem;
    height: 95%;
    background-color: var(--bg-color-transparent);
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.img-container{
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 5px;
    margin-top: -2.1rem;
}
.rezeptlink img{
    min-height: 100% !important;
    min-width: 100%;
    top: 0;
    height: auto;
    object-fit: cover;
}
.rezeptlink:hover img{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.rezeptlink h2{
    max-width: 100%;
    height: auto;
    display: inline-block;
    top: -10rem;
}
.rezeptlink .tag-bereich{
    position: relative;
    z-index: 10 !important;
    width: 95%;
    margin-inline: auto;
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--text-color);
    
}
.tag{
    padding: 0.2rem 0.5rem;
}
.tag.time{
    background-color: var(--lightgrey);
    left: 0.5rem;
}
.tag.neu{
    background-color: red;
    color: white;
    right: .5rem;
    margin-left: auto;
}
.rezept-info{
    display: block;
    max-height: 4rem;
    margin-top: 0;
    margin-bottom: auto;
    align-items: start;
    overflow-y: hidden;
}
.tags{
    bottom: 0;
    margin-top: auto;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    position:relative;
    gap: .5rem;
}
.infotag{
    display: inline-block;
    background-color: var(--lightgrey2);
    color: var(--text-color);
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 600px){
    #main{
        width: 90%;
        padding: .2rem !important;
    }
    h2 span{
        font-size: 80% !important;
    }
    .container{
        width: calc(100% - 1rem);
        padding: .2rem;
    }
    .inner-container{
        padding: .2rem;
        height: 20rem;
    }
    .inner-container > .rezeptlink{
        min-width: 10rem;
        max-width: 10rem;
        height: 95%;
        padding: .2rem;
    }
    .rezeptlink h2{
        font-size: 110%;
    }
    .rezept-info{
        max-height: fit-content;
    }
    .infotag{
        margin-bottom: .1rem;
        font-size: 80%;
        display: none;
    }
    .infotag:nth-child(1),
    .infotag:nth-child(2){
        display: block;
    }
}