body{
    min-height: 99lvh;
}
#profillinks{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#profillinks a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 2.5rem;
    text-decoration: none;
    color: var(--bg-color) !important;
    background-color: var(--grey);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px;
    transition: all 0.2s;
}
#profillinks a:hover {
    background-color: var(--lightergrey);
}
#profillinks a span {
    margin-right: 1rem;
}
#profillinks a.active{
    background-color: var(--lightergrey);
}
#profillinks a.active span:last-child{
    text-decoration: underline;
}
#result{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid var(--bg-color);
}
.rezeptlink{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    background-color: var(--bg-color-transparent);
    padding: .5rem;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
}
#profilbild{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
#profil-einstellungen{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#einstellungen input{
    width: calc(100% - 1rem);
    max-width: 450px;
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    border: 2px solid var(--bg-color);
    height: 2rem;
    padding: 0rem 0.3rem;
}
#einstellungen img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
#einstellungen label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-top: 1rem;
}
#einstellungen button{
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    font-size: 110%;
    cursor: pointer;
    margin-bottom: 1rem;
}
#footer{
    margin-top: auto;
}
input[type="file"]{
    padding: 0 !important;
}
input[type="file"]::file-selector-button{
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--text-color);
    height:2.2rem;
    width: 10rem;
    margin-right: 1rem;
}
@media (max-width:1200px) {
    #profillinks{
        grid-template-columns: repeat(3, 1fr);
        gap: 0.1rem;
    }
}
@media (max-width:900px) {
    #result{
        grid-template-columns: repeat(2, 2fr);
    }
    #profillinks{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1rem;
    }
}
@media (max-width:600px) {
    #profillinks a{
        font-size: 80%;
        padding: 0.5rem;
        height: auto;
        margin: 0;
    }
    #result{
        grid-template-columns: repeat(1, 2fr);
    }
    #result > .rezeptlink{
        width: auto !important;
    }
    .infotag{
        display: block !important;
    }
}