:root{
    --bg-color: #f0f0f0;
    --bg-color-transparent: #f0f0f080;
    --text-color: #111111;
    --yellow: #fffe00;
    --orange: #ff7400;
    --green: #00d400;
    --grey: #262626;
    --lightergrey: #555555;
    --lightgrey: #e6e6e6;
    --lightgrey2: #d8d7d7;
}